<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".FirebaseOffline"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/our_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/our_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RapidRescue"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.BugReport.bug_report"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WeatherSafety.WeatherSafety"
            android:exported="false" />
        <activity
            android:name=".ui.BugReport.bug_report"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.EmergencyContacts.EmergencyContacts"
            android:exported="false" />
        <activity
            android:name=".ui.PersonalSafety.PersonalSafety"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".OTPActivity"
            android:exported="true" />
        <activity
            android:name=".PhoneActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Home"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBuviDdojsTPlG6ghdtRR6OwCFFI6qkZCM" />
    </application>

</manifest>